/nutritrack-datasync-processing/tests/objectstorage/test_data.json.gz
node_modules
nutritrack-apis/get-products/src/utils/__pycache__
nutritrack-apis/get-products/src/__pycache__/
__pycache__/
.aws-sam/
nutritrack-ui/.hintrc
